@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #fde68a;
    --secondary-color: #fbbf24;
}


body{
    margin:0;
    display: flex;
    min-height:100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    font-family: 'Kalam', cursive;
}

.container{
    background-color: var(--secondary-color);
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    width: 90%;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.heading{
    font-size: 35px;
}

.input{
    height:53px;
    width:300px;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 45px;
}

.meaning-container{
    display:none;
}